body{
    padding: 0;
    margin: 0;
}
#top-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
    width: 100%;
    box-shadow: 0px 2px  5px  black;
         

}
#top-nav a{
    text-decoration: none;
    color:black(27, 25, 25, 0.493);
    font-size: 25px;
    display: inline-block;
    padding: 6px;
    margin: 13px;
    font-weight: bolder;

}
#top-nav-right{
    float: right;
    margin: 10px;
}
#home-section {
    position: relative;
    margin-bottom: 50px;
    
}
#home-section p {
    position: absolute;
    bottom: 8px;
    left: 25px;
    font-size: 45px;
    color: grey;
    letter-spacing: 3px;
}
#section-container{
    width: 70%;
    margin: auto;
}
#about-section p{
    font-size: 25px;

}
#about-section {
    padding-top: 70px;
    margin-bottom: 50px;
    
}
#image-container {
    box-sizing: border-box;
    width: 49%;
    float: left;
    padding: 10px 20px;
}
#image-container img{
    opacity: .7;
}
#grey{
    color: grey;
}
#text-container {
    box-sizing: border-box;
    width: 49%;
    float: left;
    padding: 10px 20px;
}
#text-container h1{
    text-align: center;
    margin-top: 10px;
}
#text-container p{
    text-align: center;
    
}
#about-section::after{
    content: "";
    display: table;
    clear: both;
}
#menu-section{
    padding: 70px;
     margin-bottom: 50px;
}
#menu-section ::after{
    content: "";
    display: table;
    clear: both;
    
}
#text-container2 {
    box-sizing: border-box;
    padding: 10px 20px;
    width: 49%;
    float: left;

}
#text-container2 p{
    color: grey;
    font-size: 18px;
}
#img-container2{
    box-sizing: border-box;
    padding: 10px 20px;
    width: 50%;
    float: left;
    width:height 50px;
}

#img-container2 img{
height: 500px;
}
#contact-section{
    padding: 70px 20px;
    margin-bottom: 50px;
}
#contact-section p{
    font-size: 15px;
}
#contact-section input[type="text"], #contact-section input[type="date"]{
    width: 100%;
    border: none;
    border-bottom: 1px solid grey;
    font-size: 15px;
    padding: 15px;
    margin-bottom: 10px;
}
button{
    border: none;
    background-color: grey;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
}
#footer{
    padding: 40px;
    background-color: grey;
    text-align: center;
    font-size: 10px;
}
